################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Debug/
/Release/
/x64/
/test.avx2
/test
